@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-white: #ffffff;
  --background-gold: #b57906;
  --white-background-hover: #eeeeee;
  --text-white: #ffffff;
  --text-white-hover: #dddddd;
  --text-black: #111111;
  --text-black-hover: #333333;
  --text-gold-brown: #a87c47;
  --text-gold-hover: #c89238;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s linear;
}

html {
  font-size: 90%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

/* Media Content  */
.homepage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 84vh;
  z-index: -1;
  overflow: hidden;
}

.homepage-overlay .homepage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.homepage-overlay .watermark {
  position: absolute;
  bottom: -340px;
  right: 420px;
  width: 80%;
  opacity: 0.09;
  pointer-events: none;
  z-index: 2;
}

/* Button Content  */
.btn.btn-light {
  font-size: 13px;
  font-weight: 600;
  padding: 0.7rem 1.6rem;
  color: var(--text-white);
  background-color: var(--text-gold-hover);
  transition: background-color 0.4s ease, color 0.4s ease;
  border-radius: 12px;
  box-shadow: none;
  cursor: pointer;
}

.btn.btn-light:hover {
  background-color: var(--text-gold-brown);
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Navigation Section  */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  box-sizing: border-box;
  padding: 1rem 12%;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3 ease, border-bottom 0.3s ease, padding 0.3s ease;
}

nav a.menu {
  font-size: 2rem;
  color: var(--background-gold);
  display: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4rem;
}

header nav a.logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-gold-brown);
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
}

header nav .nav-link {
  color: var(--text-gold-hover);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
  margin: 0.2rem;
  padding: 0.6rem 1.4rem;
  border-radius: 11px;
}

header nav .nav-link:hover {
  background-color: whitesmoke;
  color: var(--text-gold-hover);
}

header nav .nav-link-active {
  background-color: linen;
  color: var(--text-gold-hover);
  border-radius: 11px;
}

.nav-link-icon svg {
  margin-left: 0.4rem;
  font-size: 2.6rem;
  color: var(--text-gold-hover);
  padding: 0.6rem;
  background-color: whitesmoke;
  border-radius: 11px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-gold-brown);
}

/* Dropdown Section  */
.nav-link.dropdown-toggle {
  color: var(--text-gold-hover);
  display: flex;
  padding: 0.4rem 1rem;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #eee;
  padding: 1rem 1.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  display: none;
  white-space: nowrap;
  z-index: 100;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  align-items: flex-start;
}

.dropdown .dropdown-menu .dropdown-item {
  color: var(--text-black);
  font-weight: 500;
  transition: color 0.3s ease;
}

.dropdown span.nav-link.dropdown-toggle svg {
  margin-left: 0.3rem;
  font-size: 16px;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  color: var(--text-gold-hover);
}

.container {
  padding: 3rem 0;
}

/* Homepage Section  */
.hero-section {
  min-height: 84vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #eee; */
}

.hero-section h1 {
  font-size: 4rem;
  color: var(--text-white);
  margin-bottom: 0.8rem;
}

.hero-section h1 span {
  /* color: var(--text-white); */
  color: var(--text-gold-hover);
}

.hero-section p {
  font-size: 1.2rem;
  color: var(--text-white);
}

/* Welcome Section  */
.welcome {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linen;
}

.welcome .container-fluid .introduction {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome .container-fluid .introduction img {
  width: 4.4%;
}

.welcome .card .container-fluid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2.4rem 4%;
  background-color: var(--background-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.welcome .card .container-fluid label {
  font-weight: 600;
  color: var(--text-gold-hover);
  background-color: linen;
  padding: 0.6rem 18px;
  border-radius: 14px;
  margin: 1rem 0;
}

.welcome .card .container-fluid h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
  color: var(--text-black-hover);
}

.welcome .card .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.welcome .card .container-fluid h4 {
  font-weight: 600;
  color: var(--text-black-hover);
  padding-bottom: 0.8rem;
}

.welcome .card .container-fluid P {
  margin: 1rem 0;
}

/* Slider Content  */
.slick-prev:before,
.slick-next:before {
  color: var(--text-gold-brown);
  font-size: 30px;
  opacity: 0.85;
}

.slick-track {
  padding-bottom: 1rem;
}

.slick-slide {
  box-sizing: border-box;
}

.slide-card {
  background: white;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.slick-dots {
  padding-bottom: 1rem;
}

.destinations {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destinations .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.destinations .container-fluid label {
  font-weight: 650;
  color: var(--text-gold-hover);
  background: linen;
  padding: 0.6rem 18px;
  border-radius: 14px;
  margin-bottom: 1rem;
}

.destinations .container-fluid h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-black-hover);
}

.destinations .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.destinations .container-fluid h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black-hover);
}

/* Express Content  */
.express {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linen;
}

.express .container-fluid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.express .container-fluid label {
  font-weight: 600;
  color: var(--text-gold-hover);
  background-color: blanchedalmond;
  padding: 0.6rem 18px;
  border-radius: 14px;
  margin-bottom: 1rem;
}

.express .container-fluid h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-black-hover);
}

.express .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.express .container-fluid h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black-hover);
}

.express .container-lg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.express .container-lg .card {
  width: 32%;
  padding: 2rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-white);
}

.express .container-lg .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.express .container-lg .card .card-body {
  text-align: center;
}

.express .container-lg .card .card-body h3 {
  color: var(--text-gold-hover);
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Statistics Content  */
.stats {
  background-color: var(--background-gold);
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3.4rem;
}

.stats .container-fluid label {
  font-weight: 600;
  color: var(--text-gold-hover);
  background-color: var(--text-white);
  padding: 0.6rem 18px;
  border-radius: 14px;
  margin-bottom: 1rem;
}

.stats .container-fluid h1 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-white);
}

.stats .container-fluid h4 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-white);
}

.stats .container-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .container-lg .card {
  background-color: var(--background-white);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
  margin: 0.8rem;
  padding: 1.6rem 3%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .container-lg .card:hover {
  box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.6);
}

.stats .container-lg h4.card-title {
  display: flex;
  align-items: center;
  color: var(--text-gold-hover);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.stats .container-lg .card .card-body p {
  color: var(--text-black);
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

.stats .container-lg .card-body svg {
  font-size: 8rem;
  font-weight: 500;
  margin-right: 1.4rem;
  color: var(--text-gold-hover);
}

.stats .card .card-body h3 {
  color: var(--text-white);
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.stats .card .card-body p {
  color: var(--text-white);
}

/* Services Content  */
.services {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.services .container-fluid h1 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.services .container-fluid h1 span {
  color: var(--text-gold-brown);
}

/* About Us Content  */
.about {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.about .container-fluid h1 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.about .container-fluid h1 span {
  color: var(--text-gold-brown);
}

/* Testimonials Section  */
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3.4rem;
  text-align: center;
}

.testimonials .container-fluid label {
  font-weight: 650;
  color: var(--text-gold-hover);
  background-color: linen;
  padding: 0.6rem 18px;
  border-radius: 14px;
  margin-bottom: 1rem;
}

.testimonials .container-fluid h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-black-hover);
}

.testimonials .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.testimonials .container-fluid h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black-hover);
}

.testimonials .container-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials .container-lg .card {
  /* background-color: blanchedalmond; */
  background-color: linen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 6px solid var(--text-gold-hover);
  margin: 0.8rem;
  width: 70%;
  height: 44vh;
  padding: 2rem 3%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.testimonials .container-lg .card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transform: translateY(-6px);
}

.testimonials .container-lg .card h4.card-text {
  color: var(--text-gold-hover);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.testimonials .container-lg .card p.card-title {
  color: var(--text-black-hover);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.testimonials .container-lg .card-body svg {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem;
  color: var(--text-gold-hover);
}

/* Footer Content */
footer {
  background-color: whitesmoke;
  padding: 1.4rem 8%;
}

footer .container .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.4rem;
}

footer .container .col img.logo {
  width: 14rem;
  margin-bottom: 1rem;
}

footer .container .row .col {
  color: var(--text-black);
  align-items: center;
  margin-left: 4rem;
  width: 100%;
}

footer .container .col h3 {
  margin-bottom: 1.4rem;
  color: var(--text-black-hover);
}

footer .container .brand {
  padding: 0.8rem 0;
  margin-right: 3rem;
  width: 100%;
}

footer .container .brand p {
  margin: 1.6rem 0;
  font-size: 14px;
  color: var(--text-black-hover);
  font-weight: 500;
  text-align: center;
}

footer .container .brand svg {
  font-size: 1.6rem;
  color: #666;
  text-align: center;
  transition: color 0.3s ease;
}

footer .container .brand svg:hover {
  color: var(--text-gold-hover);
}

footer .container .brand ul {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  list-style: none;
  padding: 0px;
}

footer .container .row .col p {
  margin-bottom: 0.6rem;
  color: #666;
}

footer .container .row .col ul li {
  list-style: none;
  margin-bottom: 0.8rem;
}

footer .container .row .col ul li a {
  color: var(--text-black-hover);
  text-decoration: none;
  font-size: 15px;
}

footer .container .row .col ul li a:hover {
  font-weight: 600;
  color: var(--text-gold-hover);
}

footer .footer-content .contact {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

footer .footer-content .contact label {
  display: flex;
  font-weight: 500;
}

footer .footer-content .contact svg {
  font-size: 1.6rem;
  margin-right: 8px;
}

footer .footer-content .contact a {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  color: var(--text-gold-hover);
  align-items: center;
  margin: 0 0.6rem;
}

footer .footer-content .contact a:hover {
  color: var(--text-gold-brown);
}

footer .footer-content .location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.2rem;
  border-top: 1px solid #ddd;
}

footer .footer-content .location a {
  margin-left: 0.5rem;
  text-decoration: underline;
}

footer .footer-content .location a:hover {
  text-decoration: underline;
}

footer .footer-content .location p label {
  color: var(--text-black-hover);
  font-size: 15px;
  font-weight: 700;
  margin-right: 0.4rem;
}

footer .footer-content .rights p {
  color: #888;
  font-weight: 500;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

footer .footer-content .rights svg {
  font-size: 12px;
}

footer .footer-content .rights a {
  color: var(--text-gold-hover);
  font-weight: 700;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  header {
    padding: 0.8rem 4%;
  }

  nav a.menu {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .hero-section h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  .hero-section p {
    font-size: 1rem;
    text-align: center;
  }

  .services .container-fluid h1 {
    font-size: 2.4rem;
  }

  .welcome .card .container-fluid {
    padding: 2rem 10%;
    text-align: center;
  }

  .welcome .card .container-fluid label {
    font-size: 14px;
  }

  .welcome .card .container-fluid .introduction img {
    width: 14%;
  }

  .welcome .card .container-fluid h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .destinations .container-fluid {
    text-align: center;
    padding-bottom: 3rem;
  }

  .destinations .container-fluid h1 {
    font-size: 2rem;
  }

  .stats .container-fluid h1 {
    font-size: 2.4rem;
  }

  .stats .container-fluid h4 {
    font-size: 14px;
  }

  .stats .container-lg {
    flex-direction: column;
  }

  .stats .container-lg .card {
    padding: 1.6rem 12%;
    margin: 1rem;
  }

  .express .container-fluid {
    margin: 1.4rem;
  }

  .express .container-lg {
    flex-direction: column;
  }

  .express .container-lg .card {
    width: 90%;
    margin-bottom: 1.4rem;
    text-align: center;
    display: block;
  }

  .testimonials .container-fluid h1 {
    font-size: 1.6rem;
  }

  .testimonials .container-fluid h4 {
    font-size: 14px;
  }

  .testimonials .container-lg {
    flex-direction: column;
  }

  .testimonials .container-lg .card {
    width: 90%;
    height: auto;
    padding: 2rem 6%;
  }

  footer {
    padding: 0;
  }

  footer .container .brand {
    margin: 0;
    padding-top: 0;
  }

  footer .container .brand ul {
    margin: 1rem 20%;
  }

  footer .container .row {
    flex-direction: column;
  }

  footer .container .row .col {
    margin: 1rem 8%;
    width: unset;
  }

  footer .location p {
    font-size: 13px;
    text-align: center;
  }

  footer .location p a {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
  }

  footer .footer-content .contact {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-content .contact label {
    margin: 0.4rem 0;
  }

  footer .footer-content .contact svg {
    display: none;
  }

  footer .footer-content .rights p {
    font-size: 13px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1464px) {
}
