@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-white: #ffffff;
  --background-gold: #c67c0ed5;
  --white-background-hover: #eeeeee;
  --text-white: #ffffff;
  --text-white-hover: #dddddd;
  --text-black: #111111;
  --text-black-hover: #333333;
  --text-gold-brown: #a87c47;
  --text-gold-hover: #c89238;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s linear;
}

html {
  font-size: 90%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

/* Media Content  */
.homepage-overlay {
  position: absolute;
  /* top: 0;
  left: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.homepage-overlay .homepage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.homepage-overlay .watermark {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0) translateZ(0);
  width: 46%;
  opacity: 0.06;
  pointer-events: none;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  will-change: opacity, transform;
}

/* Button Content  */
.btn.btn-light {
  font-size: 16px;
  font-weight: 600;
  padding: 0.7rem 1.6rem;
  color: var(--text-white);
  background-color: var(--text-gold-hover);
  transition: background-color 0.4s ease, color 0.4s ease;
  border-radius: 12px;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
}

.btn.btn-light:hover {
  background-color: var(--text-gold-brown);
  color: var(--text-white);
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-gold-brown);
}

/* Navigation Section  */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  box-sizing: border-box;
  padding: 1rem 10%;
  background: white;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid var(--white-background-hover);
  transition: box-shadow 0.3 ease, border-bottom 0.3s ease, padding 0.3s ease;
}

nav button.menu {
  font-size: 1.8rem;
  color: var(--text-gold-hover);
  display: none;
  border-radius: 10px;
  padding: 6px;
  align-items: center;
  background: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4rem;
}

header nav a.logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-gold-brown);
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin-right: 0.4rem;
}

header nav .nav-link {
  color: var(--text-black-hover);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
  padding: 0.6rem 1.4rem;
  border-radius: 11px;
}

header nav .nav-link:hover {
  background-color: whitesmoke;
  color: var(--text-gold-hover);
}

header nav .nav-link-active {
  background-color: linen;
  color: var(--text-gold-hover);
  border-radius: 11px;
}

.nav-link-icon svg {
  margin-left: 0.4rem;
  font-size: 2.6rem;
  color: var(--text-gold-hover);
  padding: 0.6rem;
  background-color: linen;
  border-radius: 11px;
}

/* Dropdown Section  */
.nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

span.nav-link.dropdown-toggle .nav-link-active {
  color: var(--text-gold-hover);
}

.service-dropdown {
  position: relative;
}

.service-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #eee;
  padding: 1rem 1.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  display: none;
  white-space: nowrap;
  z-index: 100;
}

.service-dropdown:hover .service-dropdown-menu {
  display: flex;
  align-items: flex-start;
}

.service-dropdown .service-dropdown-menu .dropdown-item {
  color: var(--text-black);
  font-weight: 500;
  transition: color 0.3s ease;
}

.service-dropdown span.nav-link.dropdown-toggle svg {
  margin-left: 0.3rem;
  font-size: 16px;
}

.service-dropdown .service-dropdown-menu .dropdown-item:hover {
  color: var(--text-gold-hover);
}

/* SubNav Section  */
nav.desktop-subnav {
  position: relative;
  padding-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

nav.desktop-subnav ul.subnav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav.desktop-subnav ul.subnav-list li {
  margin-left: 2rem;
}

nav.desktop-subnav ul.subnav-list li span {
  font-weight: 600;
  color: var(--text-gold-hover);
}

nav.desktop-subnav ul.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  border-radius: 10px;
  position: absolute;
  background: white;
  border: 1px solid #eee;
  padding: 1rem 1.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

nav.desktop-subnav ul.dropdown-menu li {
  margin: 0;
}

nav.desktop-subnav ul.dropdown-menu li a {
  color: var(--text-black-hover);
  font-weight: 550;
  transition: color 0.3s ease;
}

nav.desktop-subnav ul.dropdown-menu li a:hover {
  color: var(--text-gold-hover);
}

/* Mobile SubNav  */
/* .nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

span.nav-link.dropdown-toggle .nav-link-active {
  color: var(--text-gold-hover);
} */

/* .dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #eee;
  padding: 1rem 1.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  display: none;
  white-space: nowrap;
  z-index: 100;
}

.dropdown .dropdown-menu .dropdown-item {
  color: var(--text-black);
  font-weight: 500;
  transition: color 0.3s ease;
}

.dropdown span.nav-link.dropdown-toggle svg {
  margin-left: 0.3rem;
  font-size: 16px;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  color: var(--text-gold-hover);
} */

/* SubNav Section  */
nav.mobile-subnav {
  position: relative;
  display: none;
}

nav.mobile-subnav ul.subnav-list {
  list-style: none;
}

nav.mobile-subnav ul.subnav-list li {
  margin: 0 1rem;
}

nav.mobile-subnav ul.subnav-list li span {
  font-weight: 650;
  color: var(--text-gold-hover);
  padding: 1rem 0;
}

nav.mobile-subnav ul.subnav-list li span svg {
  margin-left: 0.4rem;
}

nav.mobile-subnav ul.dropdown-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--white-background-hover);
  gap: 1rem;
  padding: 1rem 0;
}

nav.mobile-subnav ul.dropdown-menu li {
  margin: 0.6rem;
  list-style: none;
}

nav.mobile-subnav ul.dropdown-menu li strong {
  color: var(--text-black-hover);
  margin-bottom: 0.2rem;
}

nav.mobile-subnav ul.dropdown-menu li a {
  color: var(--text-gold-hover);
  font-weight: 500;
  text-decoration: revert-layer;
  margin-bottom: 0.4rem;
}

nav.mobile-subnav ul.dropdown-menu li a:hover {
  color: var(--text-gold-brown);
}

/* SideNav Section  */
nav.sidenav {
  background-color: var(--background-white);
  padding: 1.8rem 4%;
  min-height: 100vh;
  display: flex;
  transition: transform 0.3s ease-in-out;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  z-index: 1050;
  width: 55%;
  bottom: 0;
  right: 0;
  top: 0;
}

nav.sidenav .title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

nav.sidenav .title button {
  margin-right: 0.6rem;
  border-radius: 8px;
  background: none;
  display: flex;
}

nav.sidenav .title svg {
  color: var(--text-gold-hover);
  /* background-color: linen; */
  font-size: 2rem;
  padding: 6px;
  border-radius: 8px;
}

nav.sidenav .title h3 {
  color: var(--text-gold-hover);
}

nav.sidenav ul {
  list-style: none;
}

nav.sidenav ul li {
  margin-top: 0.6rem;
  width: 100%;
}

nav.sidenav ul li a {
  display: flex;
  padding: 0.6rem 1rem;
  font-weight: 600;
  border-radius: 8px;
  color: var(--text-black-hover);
}

nav.sidenav ul li a:hover {
  background-color: whitesmoke;
  color: var(--text-gold-hover);
}

nav.sidenav ul li a.active {
  background-color: linen;
  color: var(--text-gold-hover);
  font-weight: 640;
}

nav ul.sidenav-submenu {
  margin: 1rem;
  margin-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

nav ul.sidenav-submenu li a {
  font-size: 0.9rem;
  font-weight: 600;
}

nav.sidenav span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.1rem;
  border-radius: 10px;
  font-weight: 550;
}

nav.sidenav span:hover {
  background-color: linen;
}

nav.sidenav span a {
  color: var(--text-gold-hover);
  font-weight: 650;
}

nav.sidenav span svg {
  color: var(--text-gold-hover);
  font-size: 1.4rem;
}

.container {
  padding: 3rem 0;
}

/* Homepage Section  */
.hero-section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-section h1 {
  font-size: 3.6rem;
  color: var(--text-white);
}

.hero-section h1 span {
  color: var(--text-gold-hover);
}

/* Welcome Section  */
.welcome {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linen;
}

.welcome .container-fluid {
  text-align: center;
}

.welcome .container-fluid label {
  font-weight: 600;
  color: var(--text-gold-hover);
  background-color: blanchedalmond;
  padding: 0.6rem 18px;
  border-radius: 12px;
  margin: 1rem 0;
}

.welcome .container-fluid h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 2rem;
  color: var(--text-black-hover);
}

.welcome .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.welcome .container-fluid p {
  font-weight: 500;
}

/* Slider Content  */
.slick-prev:before,
.slick-next:before {
  color: var(--text-gold-brown);
  font-size: 30px;
  opacity: 0.85;
}

.slick-track {
  padding-bottom: 1rem;
}

.slick-slide {
  box-sizing: border-box;
}

.slide-card {
  background: white;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.slick-dots {
  padding-bottom: 1rem;
}

.destinations {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destinations .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.destinations .container-fluid label {
  font-weight: 650;
  color: var(--text-gold-hover);
  background: linen;
  padding: 0.6rem 18px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.destinations .container-fluid h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-black-hover);
}

.destinations .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.destinations .container-fluid h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black-hover);
}

/* Express Content  */
.express {
  position: relative;
  overflow: hidden;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linen;
}

.express::before {
  content: "";
  background-image: url("/public/assets/thunderbolt.png");
  background-size: 320px 320px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.express .container-fluid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.express .container-fluid label {
  font-weight: 600;
  color: var(--text-gold-hover);
  background-color: blanchedalmond;
  padding: 0.6rem 18px;
  border-radius: 12px;
  margin: 1rem 0;
}

.express .container-fluid h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-black-hover);
}

.express .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.express .container-fluid h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black-hover);
}

.express .container-lg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.express .container-lg .card {
  width: 32%;
  padding: 2rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--background-white); */
}

.express .container-lg .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.express .container-lg .card .card-body {
  text-align: center;
  width: 100%;
}

.express .container-lg .card .card-body h4 {
  color: var(--text-black-hover);
  font-weight: 600;
  padding-top: 1.4rem;
}

/* Statistics Content  */
.stats {
  background-color: var(--background-gold);
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3.4rem;
}

.stats .container-fluid label {
  font-weight: 600;
  color: var(--text-gold-hover);
  background-color: var(--text-white);
  padding: 0.6rem 18px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.stats .container-fluid h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-white);
}

.stats .container-fluid h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-white);
}

.stats .container-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .container-lg .card {
  background-color: var(--background-white);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
  margin: 0.8rem;
  cursor: pointer;
  padding: 1.6rem 3%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .container-lg .card:hover {
  box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.6);
}

.stats .container-lg .card-body {
  text-align: center;
}

.stats .container-lg h4.card-title {
  display: flex;
  align-items: center;
  color: var(--text-gold-hover);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.stats .container-lg i.card-text {
  font-weight: 500;
}

.stats .container-lg .card-body svg {
  font-size: 8rem;
  font-weight: 500;
  margin-right: 1.4rem;
  color: var(--text-gold-hover);
}

/* Services Content  */
.services {
  min-height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.services .container-fluid h1 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.services .container-fluid h1 span {
  color: var(--text-gold-brown);
}

/* Contact Section  */
.contact-section {
  min-height: 66vh;
  background-color: linen;
}

input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  font-size: 15px;
}

.contact-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-section .container-fluid {
  display: flex;
  padding-right: 2rem;
  flex-direction: column;
}

.contact-section .container-fluid label {
  font-weight: 600;
  color: var(--text-gold-hover);
  background-color: blanchedalmond;
  padding: 0.6rem 18px;
  border-radius: 12px;
  width: fit-content;
  margin: 0.8rem 0;
}

.contact-section .container-fluid h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.contact-section .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.contact-section .container-fluid h5 {
  font-weight: 650;
  text-decoration: underline;
  color: var(--text-black-hover);
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 96%;
}

.contact-section .container-fluid h5 a {
  color: var(--text-gold-brown);
  font-weight: 650;
}

.contact-section .container-fluid p {
  margin-bottom: 0.6rem;
}

.contact-section .container-fluid p a {
  color: var(--text-gold-hover);
  text-decoration: underline;
  font-weight: 600;
}

.contact-section .container-fluid p a:hover {
  color: var(--text-gold-brown);
}

.contact-section .card {
  background: var(--text-white);
  border-radius: 14px;
  padding: 2.6rem 2rem;
  width: 60%;
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.2);
}

.contact-section .card form {
  display: flex;
  justify-content: space-around;
}

.contact-section .card form .col {
  width: 100%;
  margin: 0 0.8rem;
}

.contact-section .card .card-body {
  margin: 0 0.6rem;
}

.contact-section .card .card-title h1 {
  margin-bottom: 0.8rem;
}

.contact-section .card .card-title h1 span {
  color: var(--text-gold-hover);
}

.contact-section .card .card-text p {
  margin-bottom: 1.6rem;
}

.contact-section .card .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.contact-section .card .form-group label {
  margin-bottom: 0.6rem;
  font-weight: 600;
}

.contact-section .card .form-group input {
  padding: 1rem 6%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  font-weight: 500;
}

.contact-section .card .form-group input:hover {
  border: 2px solid var(--text-gold-hover);
}

.contact-section .card .form-group select {
  padding: 1rem 6%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  font-weight: 500;
}

.contact-section .card .form-group select:hover {
  border: 2px solid var(--text-gold-hover);
}

.contact-section .card .form-group textarea {
  padding: 1rem 6%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  font-weight: 500;
}

.contact-section .card .form-group textarea:hover {
  border: 2px solid var(--text-gold-hover);
}

.contact-section .card .btn.btn-light {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section .card .btn.btn-light svg {
  margin-left: 0.4rem;
}

/* About Us Content  */
.about {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.about .container-fluid h1 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.about .container-fluid h1 span {
  color: var(--text-gold-brown);
}

/* Testimonials Section  */
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.testimonials .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.testimonials .container-fluid h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-black-hover);
}

.testimonials .container-fluid h1 span {
  color: var(--text-gold-hover);
}

.testimonials .container-fluid h1 svg {
  margin-left: 6px;
  font-size: 3rem;
  color: var(--text-gold-hover);
}

.testimonials .container-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials .container-lg .card {
  border-top: 8px solid var(--text-gold-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  width: 70%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.testimonials .container-lg label {
  font-weight: 600;
  color: var(--text-white);
  background-color: var(--text-gold-hover);
  padding: 0.6rem 18px;
  padding-top: 0.2rem;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 10px;
  width: fit-content;
}

.testimonials .container-lg .card .card-body {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials .container-lg .card p.card-text {
  color: var(--text-gold-hover);
  font-weight: 600;
  text-align: center;
  margin: 1rem;
}

.testimonials .container-lg .card h4.card-title {
  color: var(--text-black-hover);
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}

.testimonials .container-lg .card-body svg {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0.2rem;
  color: var(--text-gold-hover);
}

/* Footer Content */
footer {
  background-color: whitesmoke;
  padding: 1.4rem 8%;
}

footer .container .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.4rem;
}

footer .container .col img.logo {
  width: 14rem;
  margin-bottom: 1rem;
}

footer .container .row .col {
  color: var(--text-black);
  align-items: center;
  margin: 0 5rem;
}

footer .container .row-3 {
  display: flex;
}

footer .container .col h3 {
  margin-bottom: 1rem;
  color: var(--text-black-hover);
}

footer .container .brand {
  width: 20%;
}

footer .container .brand p {
  margin: 1.6rem 0;
  font-size: 15px;
  color: var(--text-black-hover);
  font-weight: 600;
  text-align: center;
}

footer .container .brand svg {
  font-size: 1.6rem;
  color: #666;
  text-align: center;
  transition: color 0.3s ease;
}

footer .container .brand svg:hover {
  color: var(--text-gold-hover);
}

footer .container .brand ul {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 6%;
  list-style: none;
  padding: 0px;
}

footer .container .row .col p {
  margin-bottom: 0.6rem;
  color: #666;
}

footer .container .row .col ul li {
  list-style: none;
  margin-bottom: 0.8rem;
}

footer .container .row .col ul li a {
  color: var(--text-black-hover);
}

footer .container .row .col ul li a:hover {
  font-weight: 600;
  text-decoration: underline;
  color: var(--text-gold-hover);
}

footer .footer-content .contact {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

footer .footer-content .contact label {
  display: flex;
  font-weight: 500;
}

footer .footer-content .contact svg {
  font-size: 1.6rem;
  margin-right: 8px;
}

footer .footer-content .contact a {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  color: var(--text-gold-hover);
  align-items: center;
  margin: 0 0.6rem;
}

footer .footer-content .contact a:hover {
  color: var(--text-gold-brown);
}

footer .footer-content .location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.2rem;
  border-top: 1px solid #ddd;
}

footer .footer-content .location a {
  margin-left: 0.5rem;
  text-decoration: underline;
}

footer .footer-content .location a:hover {
  text-decoration: underline;
}

footer .footer-content .location p label {
  color: var(--text-black-hover);
  font-weight: 700;
  margin-right: 0.4rem;
}

footer .footer-content .rights p {
  color: #888;
  font-weight: 500;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

footer .footer-content .rights svg {
  font-size: 12px;
}

footer .footer-content .rights a {
  color: var(--text-gold-hover);
  font-weight: 700;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  header {
    padding: 0.8rem 4%;
  }

  nav button.menu {
    display: flex;
  }

  nav a.menu:hover {
    background-color: linen;
  }

  .nav-links {
    display: none;
  }

  nav.desktop-subnav {
    display: none;
  }

  nav.mobile-subnav {
    display: block;
  }

  .container {
    padding: 3rem 8%;
  }

  .hero-section {
    min-height: 50vh;
  }

  .homepage-overlay {
    height: 50vh;
  }

  .homepage-overlay .homepage {
    min-height: 64vh;
  }

  .homepage-overlay .watermark {
    width: 80%;
    max-width: 300px;
  }

  .custom-arrow {
    font-size: 14px;
    padding: 6px;
  }

  .custom-arrow.left {
    left: 5px;
  }

  .custom-arrow.right {
    right: 5px;
  }

  .airceylon h1 {
    font-size: 1.4rem;
  }

  .airceylon p {
    font-size: 0.9rem;
  }

  .hero-section .container-fluid {
    margin: 0 5rem;
  }

  .hero-section h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  .hero-section p {
    font-size: 1rem;
    text-align: center;
  }

  .welcome .container-fluid {
    padding: 2rem 10%;
    text-align: center;
  }

  .welcome .container-fluid h1 {
    font-size: 2.2rem;
  }

  .welcome .container-fluid label {
    font-size: 14px;
  }

  .welcome .container-fluid .introduction img {
    width: 14%;
  }

  .destinations .container-fluid {
    text-align: center;
    margin: 0 3rem;
    padding-bottom: 1rem;
  }

  .destinations .container-fluid h1 {
    font-size: 2rem;
  }

  .services .container-fluid h1 {
    font-size: 2rem;
  }

  .stats .container-fluid {
    margin: 0 2rem;
  }

  .stats .container-fluid h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .stats .container-fluid h4 {
    font-size: 14px;
    text-align: center;
  }

  .stats .container-lg {
    flex-direction: column;
  }

  .stats .container-lg .card {
    padding: 1.6rem 12%;
  }

  .express .container-fluid {
    margin: 1.4rem;
    display: flex;
    align-items: center;
  }

  .express .container-fluid h1 {
    font-size: 2.2rem;
  }

  .express .container-lg {
    flex-direction: column;
  }

  .express .container-lg .card {
    width: 90%;
    text-align: center;
    display: block;
  }

  .testimonials .container-fluid {
    margin: 0 1rem;
  }

  .testimonials .container-fluid h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 0.8rem;
  }

  .testimonials .container-fluid h1 svg {
    font-size: 2.4rem;
  }

  .testimonials .container-fluid h4 {
    font-size: 14px;
    margin: 0 2rem;
  }

  .testimonials .container-lg {
    flex-direction: column;
  }

  .testimonials .container-lg .card {
    width: 90%;
    height: auto;
  }

  .contact-section .container {
    flex-direction: column;
    padding: 1rem;
  }

  .contact-section .container-fluid {
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-section .container-fluid h1 {
    font-size: 3rem;
  }

  .contact-section .container-fluid h5 {
    font-size: 0.96rem;
    text-align: center;
  }

  .contact-section .container-fluid p {
    text-align: center;
  }

  .contact-section .card {
    width: 100%;
  }

  .contact-section .card .card-body {
    text-align: center;
  }

  .contact-section .card form {
    flex-direction: column;
  }

  .contact-section .card form .col {
    margin: 0;
  }

  footer {
    padding: 0;
  }

  footer .container .brand {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

  footer .container .brand ul {
    margin: 1rem 20%;
  }

  footer .container .row {
    flex-direction: column;
    margin: 0;
  }

  footer .container .row-3 {
    display: inline;
  }

  footer .container .row .col {
    margin: 2rem 10%;
  }

  footer .location p {
    font-size: 13px;
    text-align: center;
    margin: 1rem;
  }

  footer .location p a {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
  }

  footer .footer-content .contact {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-content .contact label {
    margin: 0.4rem 0;
  }

  footer .footer-content .contact svg {
    display: none;
  }

  footer .footer-content .rights p {
    font-size: 13px;
    margin: 0 2rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    padding: 0.8rem 4%;
  }

  nav button.menu {
    display: flex;
  }

  nav a.menu:hover {
    background-color: linen;
  }

  nav.sidenav {
    width: 40%;
  }

  .nav-links {
    display: none;
  }

  .container {
    padding: 3rem 8%;
  }

  .hero-section {
    min-height: 50vh;
  }

  .homepage-overlay {
    height: 50vh;
  }

  .homepage-overlay .homepage {
    min-height: 64vh;
  }

  .homepage-overlay .watermark {
    width: 60%;
    max-width: 300px;
  }

  .slider {
    height: 300px;
    overflow: hidden;
    position: relative;
  }

  .slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .prev-arrow,
  .next-arrow {
    top: 45% !important;
    transform: translateY(-50%);
    font-size: 24px !important;
    padding: 8px !important;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }

  .prev-arrow {
    left: 10px !important;
  }

  .next-arrow {
    right: 10px !important;
  }

  .slider-content {
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }

  .hero-section .container-fluid {
    margin: 0 5rem;
  }

  .hero-section h1 {
    font-size: 3rem;
    text-align: center;
  }

  .hero-section p {
    font-size: 1rem;
    text-align: center;
  }

  .welcome .container-fluid {
    padding: 2rem 10%;
    text-align: center;
  }

  .welcome .container-fluid h1 {
    font-size: 2.2rem;
  }

  .welcome .container-fluid label {
    font-size: 14px;
  }

  .welcome .container-fluid .introduction img {
    width: 14%;
  }

  .destinations .container-fluid h1 {
    font-size: 2rem;
  }

  .stats .container-fluid {
    margin: 0 2rem;
  }

  .stats .container-fluid h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .stats .container-fluid h4 {
    font-size: 14px;
    text-align: center;
  }

  .stats .container-lg {
    flex-direction: column;
  }

  .stats .container-lg .card {
    padding: 2.4rem 10%;
    margin: 1rem;
  }

  .stats .container-lg .card-body svg {
    font-size: 4.5rem;
  }

  .services .container-fluid h1 {
    font-size: 2.4rem;
  }

  .express .container-fluid {
    margin: 1.4rem;
    display: flex;
    align-items: center;
  }

  .express .container-fluid h1 {
    font-size: 2.2rem;
  }

  .express .container-lg {
    flex-direction: column;
  }

  .express .container-lg .card {
    width: 70%;
    text-align: center;
    display: block;
  }

  .testimonials .container-fluid {
    margin: 0 1rem;
  }

  .testimonials .container-fluid h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 0.8rem;
  }

  .testimonials .container-fluid h1 svg {
    font-size: 2.4rem;
  }

  .testimonials .container-fluid h4 {
    font-size: 14px;
    margin: 0 2rem;
  }

  .testimonials .container-lg {
    flex-direction: column;
  }

  .testimonials .container-lg .card {
    width: 90%;
    height: auto;
  }

  .contact-section .container {
    flex-direction: column;
    padding: 1rem;
  }

  .contact-section .container-fluid {
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-section .container-fluid h1 {
    font-size: 3rem;
  }

  .contact-section .container-fluid h5 {
    font-size: 0.96rem;
    text-align: center;
  }

  .contact-section .container-fluid p {
    text-align: center;
  }

  .contact-section .card .card-body {
    text-align: center;
  }

  .contact-section .card form {
    flex-direction: column;
  }

  .contact-section .card form .col {
    margin: 0;
  }

  footer {
    padding: 0;
  }

  footer .container .brand {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

  footer .container .brand ul {
    margin: 1rem 30%;
  }

  footer .container .row {
    flex-direction: column;
    margin: 0;
  }

  footer .container .row-3 {
    justify-content: space-evenly;
  }

  footer .container .row .col {
    display: flex;
    margin: 2rem 4%;
    align-items: flex-start;
  }

  footer .location p {
    font-size: 14px;
    text-align: center;
    margin: 1rem;
  }

  footer .location p a {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
  }

  footer .footer-content .contact {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  footer .footer-content .contact label {
    margin: 0.4rem 0;
  }

  footer .footer-content .contact svg {
    display: none;
  }

  footer .footer-content .rights p {
    font-size: 13px;
    margin: 0 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  header {
    padding: 0.8rem 4%;
  }

  nav.sidenav {
    width: 40%;
  }

  nav button.menu {
    display: flex;
  }

  nav a.menu:hover {
    background-color: linen;
  }

  .nav-links {
    display: none;
  }

  .container {
    padding: 3rem 8%;
  }

  .hero-section {
    min-height: 93vh;
  }

  .hero-section .container-fluid {
    margin: 0 5rem;
  }

  .hero-section h1 {
    font-size: 3.3rem;
    text-align: center;
  }

  .hero-section p {
    font-size: 1rem;
    text-align: center;
  }

  .homepage-overlay .homepage {
    min-height: 100vh;
  }

  .homepage-overlay .watermark {
    bottom: auto;
    width: 64%;
  }

  .welcome .container-fluid {
    padding: 2rem 10%;
    text-align: center;
  }

  .welcome .container-fluid h1 {
    font-size: 2.2rem;
  }

  .welcome .container-fluid label {
    font-size: 14px;
  }

  .welcome .container-fluid .introduction img {
    width: 14%;
  }

  .slider {
    height: 300px;
    overflow: hidden;
    position: relative;
  }

  .slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .slick-next {
    display: none !important;
  }

  .prev-arrow,
  .next-arrow {
    top: 45% !important;
    transform: translateY(-50%);
    font-size: 24px !important;
    padding: 8px !important;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }

  .prev-arrow {
    left: 10px !important;
  }

  .next-arrow {
    right: 10px !important;
  }

  .slider-content {
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }

  .destinations {
    min-height: 64vh;
  }

  .destinations .container-fluid h1 {
    font-size: 2rem;
  }

  .stats .container-fluid h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .stats .container-fluid h4 {
    font-size: 14px;
    text-align: center;
  }

  .stats .container-lg {
    flex-wrap: wrap;
  }

  .stats .container-lg .card {
    margin: 1rem;
    padding: 1.8rem 4%;
  }

  .stats .container-lg .card-body svg {
    font-size: 6rem;
  }

  .services .container-fluid h1 {
    font-size: 2.2rem;
  }

  .express .container-fluid {
    margin: 1.4rem;
    display: flex;
    align-items: center;
  }

  .express .container-fluid h1 {
    font-size: 2.2rem;
  }

  .express .container-lg {
    flex-direction: column;
  }

  .express .container-lg .card {
    width: 60%;
    text-align: center;
    display: block;
  }

  .testimonials .container-fluid {
    margin: 0 1rem;
  }

  .testimonials .container-fluid h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 0.8rem;
  }

  .testimonials .container-fluid h1 svg {
    font-size: 2.4rem;
  }

  .testimonials .container-fluid h4 {
    font-size: 14px;
    margin: 0 2rem;
  }

  .testimonials .container-lg {
    flex-direction: column;
  }

  .testimonials .container-lg .card {
    width: 90%;
    height: auto;
  }

  .contact-section .container {
    flex-direction: column;
    padding: 1rem;
  }

  .contact-section .container-fluid {
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-section .container-fluid h1 {
    font-size: 3rem;
  }

  .contact-section .container-fluid h5 {
    font-size: 0.96rem;
    text-align: center;
  }

  .contact-section .card .card-body {
    text-align: center;
  }

  .contact-section .card form {
    flex-direction: column;
  }

  .contact-section .card form .col {
    margin: 0;
  }

  .contact-section .card .form-group input {
    padding: 1rem 4%;
  }

  .contact-section .card .form-group select {
    padding: 1rem 4%;
  }

  .contact-section .card .form-group textarea {
    padding: 1rem 4%;
  }

  footer {
    padding: 0;
  }

  footer .container .brand {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

  footer .container .brand ul {
    margin: 1rem 36%;
  }

  footer .container .row {
    flex-direction: column;
    margin: 0;
  }

  footer .container .row .col {
    width: 100%;
    display: flex;
    margin: 2rem 3%;
    align-items: flex-start;
    justify-content: space-around;
  }

  footer .location p {
    font-size: 14px;
    text-align: center;
    margin: 1rem;
  }

  footer .location p a {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
  }

  footer .footer-content .contact {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  footer .footer-content .contact label {
    margin: 0.4rem 0;
  }

  footer .footer-content .contact svg {
    display: none;
  }

  footer .footer-content .rights p {
    font-size: 13px;
    margin: 0 2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  header {
    padding: 0.8rem 4%;
  }

  nav a.menu:hover {
    background-color: linen;
  }

  nav.sidenav {
    width: 40%;
  }

  .nav-links {
    display: flex;
  }

  .container {
    padding: 3rem 8%;
  }

  .hero-section {
    min-height: 90vh;
  }

  .hero-section .container-fluid {
    padding: 0 4rem;
  }

  .homepage-overlay .homepage {
    min-height: 100vh;
  }

  .homepage-overlay .watermark {
    width: 50%;
    bottom: auto;
  }

  .slider {
    height: 300px;
    overflow: hidden;
    position: relative;
  }

  .slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .slick-next {
    display: none !important;
  }

  .prev-arrow,
  .next-arrow {
    top: 45% !important;
    transform: translateY(-50%);
    font-size: 24px !important;
    padding: 8px !important;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }

  .prev-arrow {
    left: 10px !important;
  }

  .next-arrow {
    right: 10px !important;
  }

  .slider-content {
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }

  .hero-section .container-fluid {
    margin: 0 5rem;
  }

  .hero-section h1 {
    font-size: 3.3rem;
  }

  .hero-section p {
    font-size: 1rem;
    text-align: center;
  }

  .welcome .container-fluid {
    padding: 2rem 10%;
    text-align: center;
  }

  .welcome .container-fluid h1 {
    font-size: 2.2rem;
  }

  .welcome .container-fluid label {
    font-size: 14px;
  }

  .welcome .container-fluid .introduction img {
    width: 14%;
  }

  .destinations .container-fluid h1 {
    font-size: 2rem;
  }

  .stats .container-fluid h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .stats .container-fluid h4 {
    font-size: 14px;
    text-align: center;
  }

  .stats .container-lg {
    flex-wrap: wrap;
  }

  .stats .container-lg .card {
    padding: 1.6rem 4%;
    margin: 1rem;
  }

  .stats .container-lg .card-body svg {
    font-size: 6rem;
  }

  .services .container-fluid h1 {
    font-size: 2.2rem;
  }

  .express .container-fluid {
    margin: 1.4rem;
    display: flex;
    align-items: center;
  }

  .express .container-fluid h1 {
    font-size: 2.2rem;
  }

  .express .container-lg .card {
    width: 60%;
    text-align: center;
    display: block;
  }

  .testimonials .container-fluid h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .testimonials .container-fluid h1 svg {
    font-size: 2.4rem;
  }

  .testimonials .container-fluid h4 {
    font-size: 14px;
    margin: 0 2rem;
  }

  .testimonials .container-lg .card .card-body {
    padding: 1.2rem;
  }

  .contact-section .container-fluid h1 {
    font-size: 3rem;
  }

  .contact-section .card form {
    flex-direction: column;
  }

  .contact-section .card form .col {
    margin: 0;
  }

  footer {
    padding: 0;
  }

  footer .container .brand {
    margin: 0;
    padding-top: 0;
  }

  footer .container .brand ul {
    margin: 1rem 10%;
  }

  footer .container .row .col {
    width: fit-content;
  }

  footer .location p {
    font-size: 14px;
    text-align: center;
    margin: 1rem;
  }

  footer .location p a {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
  }

  footer .footer-content .contact {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  footer .footer-content .contact label {
    margin: 0.4rem 0;
  }

  footer .footer-content .contact svg {
    display: none;
  }

  footer .footer-content .rights p {
    font-size: 13px;
    margin: 0 2rem;
  }
}

/* @media (min-width: 1280px) and (max-width: 1464px) {
} */
