/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-white: #ffffff;
  --white-background-hover: #eeeeee;
  --text-white: #ffffff;
  --text-white-hover: #dddddd;
  --text-black: #111111;
  --text-black-hover: #333333;
  --text-gold-brown: #a26c2c;
  --text-gold-hover: #c89238;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s linear;
}

html {
  font-size: 90%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

.btn.btn-light {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 2%;
  color: var(--text-black);
  background-color: var(--background-white);
  border-radius: 12px;
  cursor: pointer;
}

.btn.btn-light:hover {
  background-color: var(--white-background-hover);
}

.btn.btn-dark {
  font-size: 18px;
  font-weight: 600;
  padding: 14px 4%;
  color: var(--text-white);
  background-color: var(--text-black);
  border-radius: 30px;
}

.btn.btn-dark:hover {
  background-color: var(--text-black-hover);
}

/* .homepage-overlay {
  background-image: url('./assets/background1.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff; 
} */

/* Navigation Section  */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 1rem 8%;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3 ease, border-bottom 0.3s ease, padding 0.3s ease;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4rem;
}

header nav .logo {
  font-size: 1.2rem;
  font-weight: 600;
}

header nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

header nav ul li {
  list-style: none;
}

header nav a.nav-link {
  color: var(--text-gold-hover);
  font-weight: 600;
  padding: 0.4rem 0.4rem;
}

header nav a.nav-link:hover {
  color: var(--text-gold-hover);
  border-bottom: 2px solid var(--text-gold-hover);
  border-radius: 2px;
}

header nav a.nav-link:active {
  color: var(--text-gold-hover);
  border-bottom: 3px solid var(--text-gold-hover);
  border-radius: 3px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

a.nav-link-icon svg {
  margin-left: 0.2rem;
  font-size: 2.6rem;
  color: var(--text-gold-hover);
}

a.nav-link.icon svg:hover {
  color: var(--text-gold-hover);
  border: 2px solid #eee;
  background: #eee;
}

/* Dropdown Section  */
.nav-link.dropdown-toggle {
  color: var(--text-gold-hover);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #eee;
  padding: 1rem 1.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  display: none;
  white-space: nowrap;
  z-index: 100;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  align-items: flex-start;
}

.dropdown .dropdown-menu .dropdown-item {
  color: var(--text-black);
  font-weight: 600;
}

.dropdown span.nav-link.dropdown-toggle svg {
  margin-left: 0.3rem;
  font-size: 16px;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  color: var(--text-gold-hover);
  /* background-color: var(--white-background-hover); */
}

.container {
  padding: 2rem 0;
}

/* Homepage Section  */
.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #eee;
}

.hero-section h1 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.hero-section h1 span {
  color: var(--text-gold-brown);
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Express Card Content  */
.express {
  background-color: #eee;
}

.express .container-fluid {
  margin: 0 15%;
  padding-bottom: 1rem;
}

.express .container-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.express .container-lg .card {
  background-color: var(--text-gold-brown);
  margin: 0.8rem;
  width: 70%;
  padding: 2rem 3%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.express .container-lg .card:hover {
  background-color: var(--text-gold-hover);
  padding: 2.2rem 3%;
}

.express .container-lg .card .card-body h3 {
  color: var(--text-white);
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.express .container-lg .card .card-body p {
  color: var(--text-white);
}

/* Stats Card Content  */
.stats {
  background-color: var(--text-gold-hover);
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .container-fluid {
  padding-bottom: 3.4rem;
  text-align: center;
}

.stats .container-fluid h1 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-white);
}

.stats .container-fluid h4 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-white);
}

.stats .container-lg .card {
  background-color: var(--background-white);
  margin: 0.8rem;
  width: 70%;
  padding: 1.6rem 3%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .container-lg h4.card-title {
  display: flex;
  align-items: center;
  color: var(--text-gold-hover);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.stats .container-lg .card .card-body p {
  color: var(--text-black);
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

.stats .container-lg .card-body svg {
  font-size: 8rem;
  font-weight: 500;
  margin-right: 1.4rem;
  color: var(--text-gold-hover);
}

.stats .container-lg {
  display: flex;
}

.stats .card .card-body h3 {
  color: var(--text-white);
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.stats .card .card-body p {
  color: var(--text-white);
}

/* Services Content  */
.services {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.services .container-fluid h1 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.services .container-fluid h1 span {
  color: var(--text-gold-brown);
}

.about {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.about .container-fluid h1 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.about .container-fluid h1 span {
  color: var(--text-gold-brown);
}

/* Footer Content */
footer {
  background-color: whitesmoke;
  padding: 3rem 8%;
}

footer .container .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer .container .col img.logo {
  width: 14rem;
  margin-bottom: 1rem;
}

footer .container .row .col {
  color: var(--text-black);
  align-items: center;
  width: 100%;
  margin-left: 4rem;
}

footer .container .row .col h6 {
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
  color: var(--text-black-hover);
}

footer .container .brand {
  padding: 0.8rem 0;
  margin-right: 3rem;
  width: 100%;
}

footer .container .brand p {
  margin: 1.6rem 0;
  font-size: 14px;
  color: var(--text-black-hover);
  font-weight: 500;
  text-align: center;
}

footer .container .brand svg {
  font-size: 1.6rem;
  color: #666;
  text-align: center;
}

footer .container .brand svg:hover {
  color: var(--text-gold-hover);
}

footer .container .row .col p {
  margin-bottom: 0.6rem;
  color: #666;
}

footer .container .row .col ul li {
  list-style: none;
  margin-bottom: 1rem;
}

footer .container .row .col ul li a {
  color: var(--text-black-hover);
  text-decoration: none;
  font-size: 15px;
}

footer .container .row .col ul li a:hover {
  font-weight: 600;
  color: var(--text-gold-hover);
}

footer .container .row .col .contact {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}

footer .container .row .contact svg {
  font-size: 1.6rem;
  margin-right: 8px;
}

footer .container .row .contact a {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  color: var(--text-gold-hover);
  align-items: center;
  margin-bottom: 0.6rem;
}

footer .container .row .contact a:hover {
  color: var(--text-gold-brown);
}

footer .container .row .location a:hover {
  text-decoration: underline;
}

footer .footer-content .rights p {
  color: #888;
  font-weight: 500;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

footer .footer-content .rights svg {
  font-size: 12px;
}

footer .footer-content .rights a {
  color: var(--text-gold-hover);
  font-weight: 700;
}
